header {
    background-color: #6fa8dc;
    position: sticky;
    top:0;
}

#logo{
    padding-left: 150px;
    float: left;
    width: 10%;
    background-color: inherit;
}

.slogan{
    float: left;
    width: 50%;
    font-family: Calibri Light;
    padding: 15px 0;
    text-align: center;
    font-size: 30px;

}

.clear-both {
    clear: both;
}

footer{
    background-color: #6fa8dc;
    color: white;
    font-family: Calibri Light;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}


